<!DOCTYPE html>
<html lang="en">
    <!-- HEAD :: DONDE IRAN META, TITLE Y LINK:CSS -->
    <%- include ('partials/template/head') %> 
    <!-- BODY :: DONDE SE IRA CADA UNOS DE LOS COMPONENES -->
    <body>
        <div class="container">
            <%- include ('partials/content/header') %>
            <%- include ('partials/content/section') %>
            <%- include ('partials/content/footer') %>
        </div>

        <%- include ('partials/template/script') %>
        <script>
        </script>
    </body>
</html>